
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F4F7F7;
    height: 100vh;
}


.header {
    width: 100%;
    padding: 30px 20px 80px 20px;
    background: linear-gradient(180deg, #00C3A3, #007A7A);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
}

.header .greeting {
    font-size: 18px;
    opacity: 0.8;
}

.header .name {
    font-size: 22px;
    font-weight: 600;
    margin-top: 5px;
}


.balance-card {
    width: 90%;
    background: white;
    padding: 25px;
    margin: -40px auto 20px auto;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.balance-title {
    font-size: 16px;
    color: #5E5E5E;
}

.balance-value {
    font-size: 30px;
    font-weight: bold;
    color: #008080;
    margin-top: 10px;
}


.income-expense {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-small {
    width: 48%;
    background: white;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-small h3 {
    font-size: 14px;
    color: #5E5E5E;
}

.card-small p {
    font-size: 20px;
    font-weight: 600;
    color: #008080;
}


.menu {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    width: 22%;
    background: white;
    padding: 20px 10px;
    border-radius: 18px;
    text-align: center;
    font-size: 13px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    cursor: pointer;
}

.menu-item:hover {
    background: #E7F9F6;
}


.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -4px 20px rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.nav-item {
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.nav-item i {
    font-size: 20px;
    color: #008080;
}
.savings-card {
    width: 90%;
    background: white;
    padding: 18px;
    margin: 15px auto;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.savings-card h3 {
    font-size: 14px;
    color: #5E5E5E;
}

.savings-card p {
    font-size: 22px;
    font-weight: 600;
    color: #008080;
}
