
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(180deg, #00C3A3, #007A7A);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    font-weight: 600;
    color: #008080;
}


input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 15px 0;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
}

input:focus {
    border-color: #00B7A0;
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background: #00BBAA;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #009E90;
}


p {
    margin-top: 15px;
}

a {
    color: #004A4A;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
